<footer>
    <div class="footer">
        <section class="footer2">
            <p>Informacion General</p>
            <a href="#">Envio y entregas</a>
            <a href="#">Cambios</a>
            <a href="#">Devoluciones</a>
            <a href="#">Opciones de Pago</a>
        </section>
        <section class="footer2">
            <p>Otras Tiendas</p>
            <a href="#">Sucursal 1</a>
            <a href="#">Sucursal 2</a>
            <a href="#">Sucursal 3</a>
        </section>
        <section class="footer2">
            <p>Acerca de Nosotros</p>
            <a href="#">Quienes somos</a>
            <a href="#">Sugerencias y Reclamos</a>
            <a href="#">Contacto</a>
        </section>
        <section class="footer2">
            <p>Redes Sociales</p>
            <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="#"><i class="fab fa-tiktok"></i> Tik-Tok</a>
        </section>
    </div>
</footer>