<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kike</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"  rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header class="encabezado">
        <section class="encabezado-3">
            <a class="ingresa" href="#">Ingresar</a>
            <a class="crea" href="#">Crear tu cuenta</a>
        </section>
        <section class="encabezado-2">
            <img src="/images/kike-logo.png" width="150px">
            <a href="#">CATEGORIA 1</a>
            <a href="#">CATEGORIA 2</a>
            <a href="#">CATEGORIA 3</a>
            <a href="#">CATEGORIA 4</a>
            <div class="input-busqueda">
                <input class="busqueda" type="text" placeholder="Busca tu Producto">
                <button class="busqueda"><i class="fa fa-search"></i></button>
            </div>
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
        </section>
    </header>
    <main>
        <p>algo</p>
    </main>
    <footer>
        <div class="footer">
            <section class="footer2">
                <p>Informacion General</p>
                <a href="#">Envio y entregas</a>
                <a href="#">Cambios</a>
                <a href="#">Devoluciones</a>
                <a href="#">Opciones de Pago</a>
            </section>
            <section class="footer2">
                <p>Otras Tiendas</p>
                <a href="#">Sucursal 1</a>
                <a href="#">Sucursal 2</a>
                <a href="#">Sucursal 3</a>
            </section>
            <section class="footer2">
                <p>Acerca de Nosotros</p>
                <a href="#">Quienes somos</a>
                <a href="#">Sugerencias y Reclamos</a>
                <a href="#">Contacto</a>
            </section>
            <section class="footer2">
                <p>Redes Sociales</p>
                <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-tiktok"></i> Tik-Tok</a>
            </section>
        </div>
    </footer>
</body>
</html>