*{
	position: relative;
}

.articulo_detalle {
    display: flex;
}

.container-img {
	background-color: #f7f7f9;
	flex: 1;
}

.container-info-product {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.container-price {
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e4e4;
	display:flex; 
	align-items:center; 
	justify-content:space-between; 
}

.container-price span {
	font-size:24px; 
	font-weight:300; 
}

.container-details-product {
	padding-top :30px; 
	padding-bottom :30px; 
}

.description p {
	color:black !important; 
}

.container-img, .container-info-product {
	margin :0px; 
}
.container-info-product p{
    color:rgba(0, 0, 0, 0.899)
}
.comment-fixed{
    position: fixed;
    right: 30px;
    bottom: 50px;
}
.fa-comments{
    font-size: 70px;
}