.footer-bottom{
    position: absolute;
    
    bottom: 0;
    width: 100%;
    background-color: rgba(25, 10, 110, 0.899);
}
.footer{
    display: flex;
    justify-content: space-around;
}
.footer2{
    display: flex;
    font-family: 'Hind Siliguri', sans-serif;
    flex-direction: column;
    justify-content: space-around;
}
.footer2 p{
    padding:  10px 15px;
}
.nav-footer{
    padding:  10px 15px;
}