* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
}

p,
a {
    color: rgba(255, 255, 255, 0.899);
    text-decoration: none;
}

.encabezado {
    display: inline-block;
    background-color: rgba(25, 10, 110, 0.899);
    width: 100%;
}

.encabezado-2 {
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, 0.899);
    text-decoration: none;
    width: 100%;
}

.encabezado-3 {
    font-size: 13px;
    display: flex;
    position: relative;
    top: 15px;
    right: 15px;
    justify-content: flex-end;
    margin: 10px 15px;
}

.ingresa {
    margin: 0px 10px;
    background-color: rgba(0, 0, 0, 0.899);
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.899);
    text-decoration: none;
}

.crea {
    margin: 0px 10px;
    background-color: rgba(0, 0, 0, 0.899);
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.899);
    text-decoration: none;
}
.busqueda{
    border: solid thin transparent;
    color: aliceblue;
    /**border: solid var(--gl-color-grey-100);*/
    padding: 0 35px 0 10px;
    background-color: var(--gl-color-grey-100);
    height: 32px;
    max-width: 230px;
}

.fa-search {
    border: solid thin transparent;
    cursor: pointer;
    z-index: 10;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    width: 200%;
}

#carrusel-contenido {
    width: 60%;
    align-self: center;
    overflow: hidden;
    text-align: center;
}

.textos{
    font-family: 'Hind Siliguri', sans-serif;
    color:  rgba(189, 189, 189, 0.899);
    text-align: center;
}

.carrusel-elemento {
    float: left;
    width: 50%;
    text-align: center;
}
.encabezado-3 a:hover{
    box-shadow: 0px 0px 8px 3px white
}
.encabezado-2 a:hover{
    box-shadow: 0px 0px 8px 3px white
}
.encabezado-2 form.input-busqueda:hover{
    box-shadow: 0px 0px 8px 3px white
}

@-moz-keyframes automatizacion {
    0% {
    margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    50% {
        margin-left: -50%;
    }

    75% {
        margin-left: -50%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
        }
    
        25% {
            margin-left: 0;
        }
    
        50% {
            margin-left: -50%;
        }
    
        75% {
            margin-left: -50%;
        }
    
        100% {
            margin-left: 0;
        }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
        }
    
        25% {
            margin-left: 0;
        }
    
        50% {
            margin-left: -100%;
        }
    
        75% {
            margin-left: -100%;
        }
    
        100% {
            margin-left: 0;
        }
}

.btn-default {
    margin: 0px 10px;
    background-color: rgba(0, 0, 0, 0.899);
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.899);
    text-decoration: none;}

.btn.focus {
    color: #fff;
    text-decoration: none;
}
.text-welcome{
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}
.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-item {
    font-family: 'Hind Siliguri', sans-serif;
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #1e2125;
    background-color: #f8f9fa
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent
}

.dropdown-menu.show {
    display: block
}

.dropdown-menu.show {
    display: block
}

.dropdown-header {
    display: block;
    padding: .5rem 1rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #6c757d;
    white-space: nowrap
}

.dropdown-item-text {
    display: block;
    padding: .25rem 1rem;
    color: #212529
}

.show>.btn-default.dropdown-toggle {
    color: #fff;
    background-color: #565e64;
    border-color: #51585e
}

.dropdown-toggle {
    white-space: nowrap
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent
}

.dropdown-toggle:empty::after {
    margin-left: 0
}