<<<<<<< HEAD
html,
body {
    margin: 0;
}
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
/* colores de letras fuente */
p, a{
    color:  rgba(255, 255, 255, 0.899);
    text-decoration: none;
}

=======
>>>>>>> 6bf754699ce5ee35e748148630b9471ccd5d5fff
.comment-fixed{
    position: fixed;
    right: 30px;
    bottom: 50px;
}
.fa-comments{
    font-size: 70px;
}
.img {
    width: 80vw;
    margin: auto;
}
.galeria_fotos_fila {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin: 10px 20px;
}
.galeria_fotos_fila p {
    margin: 0;
}
.galeria_fotos_fila .fotos_fila {
    width: 2000%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    align-items: flex-start;
    transition: all 0.3s linear;
}
.galeria_fotos_fila .box_imagen_galeria_fila img {
    width: 100%;
    aspect-ratio: 540 / 318;
    object-fit: cover;
    vertical-align: middle;
}
.galeria_fotos_fila .flechas_fila {
    width: 5%;
    max-width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 99;
    filter: drop-shadow(0px 0px 2px black);
    cursor: pointer;
}
.galeria_fotos_fila .flecha1_fila {
    left: 30px;
}
.galeria_fotos_fila .flecha2_fila {
    right: 30px;
}
.galeria_fotos_fila .flecha3_fila {
    right: 55%;
}
.galeria_fotos_fila #simbolo_play img {
    width: 100px;
}
.galeria_fotos_fila .flechas_fila img {
    width: 100%;
}
.galeria_fotos_fila .contador_galeria_fila {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px 5px;
    font-size: 14px;
}
.productos_oferta h2{
    text-align: center;
}
.articulos_oferta{
    display: flex;
    justify-content: space-around;
}
.articulo_oferta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-shadow: 5px 5px 10px rgb(78, 78, 78);
}
.articulo_oferta p{
    text-align: justify;
    padding:5px 15px;
    color: rgb(0, 0, 0);
}
.imagen_oferta{
    width: 100px;
    margin:auto;
}
.suscripcion{
    background-color: rgb(30, 0, 255);
    width: 60%;
    margin: 25px auto;
    padding: 20px 30px;
    text-align: center;
}
.suscripcion input{
    display: block;
    margin: 10px auto;
    padding: 10px auto;
}
.suscripcion button{
    display: block;
    margin: 10px auto;
    padding: 10px auto;
}