.main-home{
    font-family: Helvetica, sans-serif;
    background: linear-gradient(45deg, black, transparent);
    display: block;
}
.gif1{
    background-image: url(/video/banner.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    width: 100%;
    padding:20%;
}
.gif2{
    background-image: url(/video/argentina.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    height: 100%;
    width: 100%;
}

.comment-fixed{
    position: fixed;
    right: 30px;
    bottom: 50px;
    color: black;
}
.fa-comments{
    font-size: 70px;
}
.video-file {
    width: 100%;
    object-fit: cover;
}
.envoltura{
    width: 900px;
    margin: auto;
}
.galeria_fotos_fila {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px 20px;
}
.galeria_fotos_fila p {
    margin: 0;
}
.galeria_fotos_fila .fotos_fila {
    width: 2000%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    align-items: flex-start;
    transition: all 0.3s linear;
}
.galeria_fotos_fila .flechas_fila {
    width: 5%;
    max-width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 99;
    filter: drop-shadow(0px 0px 2px black);
    cursor: pointer;
}

.galeria_fotos_fila .flecha1_fila {
    left: 30px;
}

.galeria_fotos_fila .flecha2_fila {
    right: 30px;
}

.galeria_fotos_fila .flechas_fila img {
    width: 100%;
}
.galeria_fotos_fila .flecha3_fila {
    right: 55%;
}
.galeria_fotos_fila .box_imagen_galeria_fila img {
    width: 100%;
    aspect-ratio: 470 / 330;
    object-fit: fill;
    vertical-align: middle;
}
.galeria_fotos_fila #simbolo_play img {
    width: 100px;
}
.galeria_fotos_fila .contador_galeria_fila {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px 5px;
    font-size: 22px;
}
.productos_oferta h2{
    font-family: 'Hind Siliguri', sans-serif;
    width:100%;
    top:70px;
    text-align: center;
}

.contenedor_articulos .articulos_oferta{
    display: flex;
    min-height: 100vh;
}
.articulos_oferta{
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    min-height: 150vh;
    flex-wrap: wrap;
}
.articulo_oferta{
    display: flex;
    backdrop-filter: blur(20px);
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 60vh;
    box-shadow: 5px 5px 10px rgb(78, 78, 78);
}
.articulo_oferta p{
    text-align: justify;
    width: 200px;
    padding:5px 15px;
    color: rgb(0, 0, 0);
}
.imagen_oferta{
    width: 150px;
    aspect-ratio: 150/150;
}
.suscripcion{
    background-color: rgb(30, 0, 255);
    width: 75%;
    margin: auto;
    bottom: 30px;
    padding: 20px 30px;
    text-align: center;
    border-radius: 20px;
}
.suscripcion input{
    width: 60%;
    text-align: center;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 10px;
}
.suscripcion button{
    width: 150px;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 10px;
}