html, body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    display: inline-block;
    background-color: khaki;
    width: 100%;
}

.encabezado-2 {
    display: flex;
    margin: 0 10px;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
}

.encabezado-3 {
    display: flex;
    justify-content: flex-end;
    margin: 10px 15px;
}

.encabezado-3 {
    display: flex;
    justify-content: flex-end;
    margin: 10px 15px;
}

.ingresa, .crea {
    margin: 0 10px;
}

.busqueda {
    height: max-content;
}

/*csslogin*/
.login-form{
    background-color: (255,0,0);
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.login-form h3{
    text-align: center;
    margin-bottom: 20px;
}

label, input {
    display: block;
    margin-bottom: 15px;
}

.input-form{
    margin: auto;
    width: 40%;
}

input[type="email"],
input[type="password"]{
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #1259c3;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0022AA;
}

footer {
    width: 100%;
    background-color: khaki;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer2 p, .footer2 a {
    padding: 10px 15px;
}