.products_oferta{
    display: flex;
}
.comment-fixed{
    position: fixed;
    right: 30px;
    bottom: 50px;
}
.fa-comments{
    font-size: 70px;
}
.new-form{
    background-color: (255,0,0);
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.new-form h1{
    text-align: center;
    margin-bottom: 20px;
}
.input-form{
    display: block;
    margin: auto;
    margin-bottom: 15px;
    
}
input[type="text"],
input[type="file"],
input[type="number"]{
    padding: 8px;
    font-size: 16px;
    width: 100%;
}
.input-submit {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #1259c3;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 450ms;
}
.input-submit:hover {
    background-color: #0022AA;
}
.text-danger{
    width:300%;
    color: red;
    font-weight: bold;
    background-color: pink;
    border-radius: 10px;
}