.body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 150vh;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #000;
}

.registration-form h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    margin: 20px 0;
}

.registration-form form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .input-form {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.input-form input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.input-form label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.input-form .label-select {
    position: relative;
    display: flex;
}

.input-form span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #344e83;
}

.input-form input:focus ~ label,
.input-form input:not(:placeholder-shown) ~ label {
    top: -5px;
    color: #344e83;
}

.input-form input:focus ~ span::before,
.input-form input:focus ~ span::before {
    width: 100%;
}

.recordar {
    margin: -5px 0 20px 5px;
    color: #344e83;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #344e83;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

input[type="submit"] {
    border-color: #344e83;
    transition: .5s;
}

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #000;
}

.registrarse a {
    color: blue;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}

.text-danger{
    color: red;
    font-weight: bold;
    background-color: pink;
    border-radius: 10px;
}