<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/footer.css">
    </head>

<body>
    <%- include('./partials/header')%>

    <main>
        <div class="gif">
        <div class="resumen">
            <h2>Resumen</h2>
            <div class="lista-monto">
                <div class="monto">
                    <p class="total">Subtotal</p>
                    <p class="precio">$5000</p>
                </div>
                <div class="monto">
                    <p class="total">Subtotal</p>
                    <p class="precio">$5000</p>
                </div>
                <div class="monto">
                    <p class="total">Total</p>
                    <p class="precio">$10000</p>
                </div>
            </div>
            <button class="fin-compra">Finalizar la compra</button>
        </div>
        <div class="carrito">
            <h2>Mi Carrito</h2>
            <div class="carrito-tarjeta">
                <article class="product-carrito">
                    <div class="product-img">
                        <p class="product-title">Producto 1</p>
                        <img src="" alt="">
                    </div>
                    <div class="description">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, magnam.</p>
                        <button type="submit">Comprar ahora</button>
                        <button type="reset">Eliminar</button>
                    </div>
                    <div class="cantidad">
                        <p class="cantidad-title">Cantidad</p>
                    </div>
                    <div class="precio">
                        <p class="precio-title">Precio</p>
                        <p class="precio-product">$5000</p>
                    </div>
                </article>
            </div>
            <div class="carrito-tarjeta">
                <article class="product-carrito">
                    <div class="product-img">
                        <p class="product-title">Producto 1</p>
                        <img src="" alt="">
                    </div>
                    <div class="description">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, magnam.</p>
                        <button type="submit">Comprar ahora</button>
                        <button type="reset">Eliminar</button>
                    </div>
                    <div class="cantidad">
                        <p class="cantidad-title">Cantidad</p>
                    </div>
                    <div class="precio">
                        <p class="precio-title">Precio</p>
                        <p class="precio-product">$5000</p>
                    </div>
                </article>
            </div>
        </div>
    </div>   
    </main>
    <%- include('./partials/footer')%>
</body>
</html>