<footer>
    <div class="footer">
        <section class="footer2">
            <p>Informacion General</p>
            <nav class="nav-footer">
                <ul><a href="#">Envio y entregas</a></ul>
                <ul><a href="#">Cambios</a></ul>
                <ul><a href="#">Devoluciones</a></ul>
                <ul><a href="#">Opciones de Pago</a></ul>
            </nav>
        </section>
        <section class="footer2">
            <p>Otras Tiendas</p>
            <nav class="nav-footer">
                <ul><a href="#">Sucursal 1</a></ul>
                <ul><a href="#">Sucursal 2</a></ul>
                <ul><a href="#">Sucursal 3</a></ul>
            </nav>
        </section>
        <section class="footer2">
            <p>Acerca de Nosotros</p>
            <nav class="nav-footer">
                <ul><a href="#">Quienes somos</a></ul>
                <ul><a href="#">Sugerencias y Reclamos</a></ul>
                <ul><a href="#">Contacto</a></ul>
            </nav>
        </section>
        <section class="footer2">
            <p>Redes Sociales</p>
            <nav class="nav-footer">
                <ul><a href="#"><i class="fab fa-twitter"></i> Twitter</a></ul>
                <ul><a href="#"><i class="fab fa-facebook"></i> Facebook</a></ul>
                <ul><a href="#"><i class="fab fa-instagram"></i> Instagram</a></ul>
                <ul><a href="#"><i class="fab fa-tiktok"></i> Tik-Tok</a></ul>
            </nav>
        </section>
    </div>
</footer>
<script src="/js/cerrar-sesion.js"></script>