<header class="encabezado">
    <section class="encabezado-3">
        <a class="ingresa" href="login">Ingresar</a>
        <a class="crea" href="register">Crear tu cuenta</a>
    </section>
    <section class="encabezado-2">
        <a href="/home"><img src="/images/kike-logo.png" width="150px"></a>
        <a href="#">NUEVO</a>
        <a href="#">CONJUNTOS</a>
        <a href="#">OFERTAS</a>
        <a href="#">CALZADOS</a>
        <div class="input-busqueda">
            <input class="busqueda" type="text" placeholder="Busca tu Producto">
            <button class="busqueda"><i class="fa fa-search"></i></button>
        </div>
        <a href="productCart"><i class="fas fa-shopping-cart"></i></a>
    </section>
</header>