<header class="encabezado">
    <section class="encabezado-3">
        <a class="ingresa" href="/login">Ingresar</a>
        <a class="crea" href="/register">Crear tu cuenta</a>
        <a class="cerrar-sesion" href="/cerrar-sesion">Cerrar sesion</a>
    </section>
    <section class="encabezado-2">
        <a href="/home"><img src="/images/kike-logo.png" width="150px"></a>
        <a href="/products/list">Todos los productos</a>
        <a href="/products/new">Nuevo</a>
        <a href="#">Ofertas</a>
        <a href="#">Calzados</a>
        <a href="/users/editUser">Editar detalles de usuario</a>
        <a href="/users/details">Detalles de usuarios</a>
        <div class="input-busqueda">
            <input class="busqueda" type="search" placeholder="Buscar...">
            <a class="search-bar" href="#">
                <i class="fa fa-search"></i>
            </a>
        </div>
        <a href="productCart"><i class="fas fa-shopping-cart"></i></a>
    </section>
</header>