<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/footer.css">
    </head>
<body>
    <%- include('../partials/header')%>

    <section class="registration-form">
        <h2>REGISTRO</h2>
        <form action="/register" method="post" enctype="multipart/form-data">
            <div class="input-form">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>

            <div class="input-form">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" required>
            </div>

            <div class="input-form">
                <label for="email">Correo Electr칩nico:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-form">
                <label for="confirmar_email">Confirmar Correo Electr칩nico:</label>
                <input type="email" id="confirmar_email" name="confirmar_email" required>
            </div>

            <div class="input-form">
                <label for="contrasenia">Contrase침a:</label>
                <input type="password" id="contrasenia" name="contrasenia" required>
            </div>

            <div class="input-form">
                <label for="confirmar_contrasenia">Confirmar Contrase침a:</label>
                <input type="password" id="confirmar_contrasenia" name="confirmar_contrasenia" required>
            </div>

            <div class="input-form">
                <label for="categoria">Categoria:</label>
                <select class="fecha-inputs" name="categoria">
                    <option value="Admin">Administrador</option>
                    <option value="Customer">Cliente</option>
                </select>
            </div>
            <div class="input-form">
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" class="fecha-inputs" name="fecha_nacimiento">
                </input>
            </div>
            <div class="input-form">
                <label for="imagen_perfil">Imagen de Perfil:</label>
                <input type="file" name="imagen_perfil" />           
            </div>

            <div class="input-form">
                <input type="submit" value="Registrarse">
            </div>
        </>
    </section>
    <%- include('../partials/footer')%>
</body>
</html>
